<%- include('inc/header') -%>

<%
  getSituation = function(situation, receivementDate){

    if(situation == false){

        let today = new Date(moment().format('YYYY-MM-DD'));
        receivementDate = new Date(receivementDate);

        if(receivementDate < today){
            return 'Atrasada';
        }
        else{
            return 'Em aberto';
        }

    }
    else{

        return 'Paga';

    }

  }

  filterTemSemPagar = function(data){

    return data.SITUACAO === 0;

  }

  let temSemPagar = false;
  if(data.filter(filterTemSemPagar).length > 0) temSemPagar =  true;

%>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Comissões
        </h1>
        <ol class="breadcrumb">
          <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
          <li class="active">Comissões</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content container-fluid">

        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Lista</h3>
            <% if(user.NOME_NIVEL === 'Administrador') { %>
              <a style="background-color: #3c8dbc;" href="#" class="btn btn-xs pull-right btn-success" data-toggle="modal" data-target="#modal-create"><i
                class="fa fa-plus"></i>
              Novo
              </a>
            <% } %><p></p>
            <a style="display: none;" id="btnMarcarPagasVarias" href="#" class="btn btn-xs pull-right btn-success btn-marcarpaga-varias" ><i 
              class="fa fa-check"></i>Marcar selecionadas como pagas
            </a>
          </div>
          <div class="box-header" style="height:44px;">
            <div class="box-tools">
              <form action="/comissoes" method="GET">
                <div class="form-group" style="width: 182px; float: left">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="date" name="start" class="form-control unstyled" value="<%= date.start %>">
                  </div>
                </div>
                <div class="form-group" style="width: 182px; float: left">
                  <div class="input-group">
                    <div class="input-group-addon">
                      até
                    </div>
                    <input type="date" name="end" class="form-control unstyled" value="<%= date.end %>">
                  </div>
                </div>
                <div class="form-group" style="float: left; margin-left: 7px;">
                  <button type="submit" class="btn btn-default">OK</button>
                </div>
              </form>
            </div>
          </div>
          <div class="box-header responsive">
              <div style="padding:10px">
                <canvas id="chart" height="50"></canvas>
              </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <% if(temSemPagar) { %><th>Selecionar</th><% } %>
                  <th>Pedido</th>
                  <th>Valor Comissão</th>
                  <th>Forma de Pagamento</th>
                  <th>Recebimento</th>
                  <th>Situação</th>
                  <th style="min-width: 134px;">Ações</th>
                </tr>
              </thead>
              <tbody>
                <% data.forEach(function(row){ %>
                <% let situacao = getSituation(row.SITUACAO, moment.parseZone(row.DATA_RECEBIMENTO).valueOf())  %>
                <tr <% if(situacao == 'Atrasada'){%> style="color: red;" <% } %> data-row="<%= JSON.stringify(row); %>">
                  <% if(temSemPagar){%><td><% if(row.SITUACAO === 0){%><input class="checkComissoes" type="checkbox" name="checkComissoes"><% } %></td><% } %>
                  <td><%= row.ID_PEDIDO %></td>
                  <td>R$ <%= row.VALOR_COMISSAO %></td>
                  <td><%= row.FORMA_PAGAMENTO %></td>
                  <td><%= moment(row.DATA_RECEBIMENTO).parseZone().format("DD/MM/YYYY") %></td>
                  <td><%- situacao %></td>
                  <td>
                    <button type="button" class="btn btn-xs btn-info btn-update">
                      <i class="fa fa-pencil"></i> Editar
                    </button>&nbsp;
                    <button type="button" class="btn btn-xs btn-danger btn-delete">
                      <i class="fa fa-trash"></i> Excluir
                    </button>&nbsp;
                    <% if(row.SITUACAO === 0){%>
                    <button type="button" class="btn btn-xs btn-success btn-marcarpaga">
                      <i class="fa fa-check"></i> Marcar como paga
                    </button>
                    <% } %> 
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
              <% links.forEach(link=>{ %>
                <li <% if(link.active){%> class="active"<% } %>><a href="<%= link.href %>"><%= link.text %></a></li>
              <% }); %>
            </ul>
          </div>
          <!-- /.box-footer -->
        </div>

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div class="modal fade" id="modal-create">
      <div class="modal-dialog">
        <div class="modal-content" style="border-top: 3px solid #00c0ef;">
          <form method="post" action="/comissoes">
            <input type="hidden" name="ID_COMISSAO">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Nova Comissão</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="inputIdPedidoCreate">Pedido</label>
                <input type="text" class="form-control" id="inputIdPedidoCreate" name="ID_PEDIDO">
              </div>
              <div class="form-group">
                <label for="inputValorPedidoCreate">Valor Pedido</label>
                <input type="number" step="0.010" class="form-control" id="inputValorPedidoCreate" name="VALOR_PEDIDO">
              </div>
              <div class="form-group">
                <label for="inputPorcentagemCreate">Porcentagem (%)</label>
                <input name="PORCENTAGEM" type="number" min="1" max="100" value="6" class="form-control" id="inputPorcentagemCreate">
              </div>
              <div class="form-group">
                <label for="inputValorComissaoCreate">Valor Comissão</label>
                <input type="number" step="0.010" class="form-control" id="inputValorComissaoCreate" name="VALOR_COMISSAO">
              </div>
              <div class="form-group">
                <label for="inputFormaPagamentoCreate">Forma de Pagamento</label>
                <select id="inputFormaPagamentoCreate" name="FORMA_PAGAMENTO" class="form-control">
                  <option value=""> -- selecione -- </option>
                  <option value="PagSeguro">PagSeguro</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputDateUpdateCreate">Data Pedido</label>
                <input type="date" id="inputDataPedidoCreate" name="DATA_PEDIDO" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputPorcentagemCreate">Prazo para liberação (dias)</label>
                <input name="PRAZO" type="number" min="1" max="100" value="14" class="form-control" id="inputPrazoCreate">
              </div>
              <div class="form-group">
                <label for="inputDateCreate">Data Recebimento</label>
                <input type="date" id="inputDataRecebimentoCreate" name="DATA_RECEBIMENTO" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputSituacaoCreate">Situação</label>
                <select id="inputSituacaoCreate" name="SITUACAO" class="form-control">
                  <option value=""> -- selecione -- </option>
                  <option value="1">Paga</option>
                  <option value="0">Em aberto</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-info">Salvar</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-update">
      <div class="modal-dialog">
        <div class="modal-content" style="border-top: 3px solid #00c0ef;">
          <form method="post" action="/comissoes">
            <input type="hidden" name="ID_COMISSAO">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Editar Comissão</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="inputIdPedidoUpdate">Pedido</label>
                <input type="text" class="form-control" id="inputIdPedidoUpdate" name="ID_PEDIDO">
              </div>
              <div class="form-group">
                <label for="inputEmailUpdateUpdate">Valor Pedido</label>
                <input type="number" step="0.010" class="form-control" id="inputValorPedidoUpdate" name="VALOR_PEDIDO">
              </div>
              <div class="form-group">
                <label for="inputPorcentagemUpdate">Porcentagem (%)</label>
                <input name="PORCENTAGEM" type="number" min="1" max="100" value="6" class="form-control" id="inputPorcentagemUpdate">
              </div>
              <div class="form-group">
                <label for="inputValorComissaoUpdate">Valor Comissão</label>
                <input type="number" step="0.010" class="form-control" id="inputValorComissaoUpdate" name="VALOR_COMISSAO">
              </div>
              <div class="form-group">
                <label for="inputFormaPagamentoUpdate">Forma de Pagamento</label>
                <select id="inputFormaPagamentoUpdate" name="FORMA_PAGAMENTO" class="form-control">
                  <option value=""> -- selecione -- </option>
                  <option value="PagSeguro">PagSeguro</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputDataPedidoUpdate">Data Pedido</label>
                <input type="date" id="inputDataPedidoUpdate" name="DATA_PEDIDO" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputPorcentagemUpdate">Prazo para liberação (dias)</label>
                <input name="PRAZO" type="number" min="1" max="100" value="14" class="form-control" id="inputPrazoUpdate">
              </div>
              <div class="form-group">
                <label for="inputDateUpdate">Data Recebimento</label>
                <input type="date" id="inputDataRecebimentoUpdate" name="DATA_RECEBIMENTO" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputSituacaoUpdate">Situação</label>
                <select id="inputSituacaoUpdate" name="SITUACAO" class="form-control">
                  <option value=""> -- selecione -- </option>
                  <option value="1">Paga</option>
                  <option value="0">Em aberto</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-info">Salvar</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->\
    </div>

    <%- include('inc/footer') -%>

    <script src="/js/moment.min.js"></script>
    <script src="/bower_components/chart.js/dist/Chart.min.js"></script>
    <script src="/js/hcode-grid.js"></script>
    <script src="/js/form-save.js"></script>
    <script>

        let chartData = JSON.parse('<%- chartData %>');

        let chart = new Chart(document.querySelector('#chart').getContext('2d'), {
          type: 'line',
          data:{
            labels: chartData.months,
            datasets: [{
              data: chartData.values,
              label: 'Comissões',
              backgroundColor: 'rgb(54, 162, 235)',
              borderColor: 'rgb(24, 132, 205)',
              fill: true,
              pointBackgroundColor: '#fffff'
            }],
          },
          options:{
            toolTips:{
              mode: 'index',
              intersect: false
            },
            scales:{
              xAxes:[{
                display: true,
                scaleLabel:{
                  display: true,
                  labelString: 'Mês'
                }
              }],
              yAxes:[{
                display: true,
                scaleLabel:{
                  display: true,
                  labelString: 'Comissões'
                }
              }]
            }
          }
        });

      </script>

      <script src="/js/initInputComissoes.js"></script>

      <script>
        new HcodeGrid({
          deleteUrl: '/comissoes/${data.ID_COMISSAO}',
          deleteMessage: 'Deseja realmente excluir a comissão do pedido ${data.ID_PEDIDO}?',
          marcarPagaUrl: '/comissoes/marcarpaga',
          marcarPagaMessage: 'Deseja realmente marcar a comissão do pedido ${data.ID_PEDIDO} como paga?',
          btnMarcarPaga: 'btn-marcarpaga',
          onUpdateLoad: (form, name, data)=>{            
              let input = form.querySelector(`[name=${name}`);
              switch(name){

                case 'DATA_RECEBIMENTO':
                  if(input){
                    let date = moment.parseZone(data[name]).format("YYYY-MM-DD");
                    input.value = date;
                    form.querySelector(`[name=DATA_PEDIDO]`).value = moment(date).subtract(14, 'days').format("YYYY-MM-DD");
                  }
                break;

                case 'VALOR_PEDIDO':
                  if (input) input.value = parseFloat(data[name].replace(',', '.'));
                break;

                default:
                  if (input) input.value = data[name];
                break;
                
              }
          },
          userLevel
        });

        let checkboxes = document.querySelectorAll('.checkComissoes');
        checkboxes.forEach(checkbox=>{
            checkbox.addEventListener('change', e=>{

              rowEl = e.path[2];
              $(rowEl).toggleClass('rowSelected');

              if(document.querySelectorAll('.rowSelected').length > 0){
                $('#btnMarcarPagasVarias').show();
              }
              else{
                $('#btnMarcarPagasVarias').hide();
              }

            });
        });

        let btnMarcarPagasVarias = document.getElementById('btnMarcarPagasVarias');
        btnMarcarPagasVarias.addEventListener('click', e=>{

          let arraySelected = [];

          let selectedRows = $('.rowSelected');
          
          if(selectedRows.length > 0){

              [...selectedRows].forEach(row=>{

                arraySelected.push($(row).data().row);

              });

              let totalSelected = parseFloat(arraySelected.map((row)=>row.VALOR_COMISSAO).reduce((total, valor) => parseFloat(total) + parseFloat(valor))).toFixed(2);
          
              if(confirm(`Deseja realmente marcar a(s) ${arraySelected.length} comiss(ões) como pagas?\nTotal: R$ ${totalSelected}`)){

                let formData = new FormData();
                formData.append('ID_COMISSAO', JSON.stringify(arraySelected.map((row)=>row.ID_COMISSAO)));

                fetch('/comissoes/marcarpaga', {
                  method: 'POST',
                  body: formData
                }).then(response=>response.json()).then(json=>{
                  
                  (!json.errno) ? window.location.reload() : alert(json.sqlMessage);

                });

              }

          }
          else{
            alert('Nenhuma comissão está selecionada!');
          }

        });
   
    </script>