  <%- include('inc/header') -%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Resumo das Comissões
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Tela Inicial</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box" <% if(data.atrasadas != '0.00'){ %> onclick="window.location.href = '/comissoes?sit=atrasadas'" <% } %> style="cursor:pointer">
            <span class="info-box-icon bg-red">
              <i class="ion ion-ios-calendar"></i>
            </span>

            <div class="info-box-content">
              <span class="info-box-text">Atrasadas</span>
              <span class="info-box-number" id="atrasadas">R$ <%= data.atrasadas %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box" <% if(data.emaberto != '0.00'){ %> onclick="window.location.href = '/comissoes?sit=emAberto'" <% } %> style="cursor:pointer">
            <span class="info-box-icon bg-aqua">
              <i class="ion ion-ios-chatboxes"></i>
            </span>

            <div class="info-box-content">
              <span class="info-box-text">Em aberto</span>
              <span class="info-box-number" id="emaberto">R$ <%= data.emaberto %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box" onclick="window.location.href = '/comissoes'" style="cursor:pointer">
            <span class="info-box-icon bg-secondary">
              <i class="ion ion-ios-color-filter-outline"></i>
            </span>

            <div class="info-box-content">
              <span class="info-box-text">EA + AT</span>
              <span class="info-box-number" id="emaberto+atrasadas">R$ <%= (parseFloat(data.emaberto) + parseFloat(data.atrasadas)).toFixed(2) %></span>
            </div>
            <!-- /.info-box-content -->
        </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box" <% if(data.pagas != '0.00'){ %> onclick="window.location.href = '/comissoes?sit=pagas'" <% } %> style="cursor:pointer">
            <span class="info-box-icon bg-green">
              <i class="fa fa-check"></i>
            </span>

            <div class="info-box-content">
              <span class="info-box-text">Pagas</span>
              <span class="info-box-number" id="pagas">R$ <%= data.pagas %></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.col -->
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%- include('inc/footer') -%>

  <!--<script src="/socket.io/socket.io.js'"></script>

  <script>

      /*function refreshDashboard(){

        fetch('/admin/dashboard').then(response=>response.json()).then(json=>{

          document.querySelector('#nrreservations').innerHTML = json.nrreservations;
          document.querySelector('#nrcontacts').innerHTML = json.nrcontacts;
          document.querySelector('#nrmenus').innerHTML = json.nrmenus;
          document.querySelector('#nrusers').innerHTML = json.nrusers;

        });

      }

      let socket = io();

      socket.on('dashboard update', function(){
          refreshDashboard();
      });*/


  </script>-->